#level-selection-container {
  position: absolute;
  z-index: 5; //Above canvas element.
  width: 100%;
  height: 100%;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;

  #level-selection-grid {
    position: relative;
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(4, 1fr);
  }
}

.level-buttons {
  place-self: center;
  position: relative;
  min-width: 90px;
  min-height: 90px;
  border-radius: 100px;
  overflow: visible; /* ensure pulse isn't clipped */

  span {
    position: absolute;
    color: #fff;
    font-size: 15px;
  }
}

.level-selection-btn-img {
  width: 75% !important;
  height: 100%;
  position: absolute;
  top: 53%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.level-stars {
  position: absolute;
  width: 30px;
  height: 30px;
}

#star-0 {
  left: -10px;
  bottom: 30px;
}

#star-1 {
  top: 0px;
  left: 0px;
}

#star-2 {
  top: 0%;
  left: 50%;
  transform: translate(-50%, -50%);
}

#star-3 {
  top: 0px;
  right: 0px;
}

#star-4 {
  right: -10px;
  bottom: 30px;
}

.btn-lock-img {
  width: 35px !important;
  height: 35px;
  position: absolute;
  top: 5%;
  left: 5%;
}

.btn-level-span{
  position: absolute;
  top: 35%;
  left: 48%;
  transform: translate(-50%, -50%);
}

//For debugger text label
.level-type-text {
  width: 70%;
  bottom: 0px;
  right: 0px;
  transform: translate(-25%, 75%);
}

.pulsing {
  /* Multiple ripples */
  &::before,
  &::after {
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    width: 170%;
    height: 170%;
    border-radius: 50%;
    transform: translate(-50%, -50%) scale(0);
    background: rgba(255, 255, 255, 0.8);
    z-index: -1;
    animation: ripple 2s infinite;
  }

 @keyframes ripple {
    0% {
      transform: translate(-50%, -50%) scale(0);
      opacity: 0.8;
    }
    100% {
      transform: translate(-50%, -50%) scale(0.7);
      opacity: 0;
    }
  }
}
.press-button:active {
  transform: scale(0.95);
}

.special-levels-img {
  width: 100% !important;
  height: 100%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.special-btn-level-span {
  top: 75%;
  left: 48%;
  transform: translate(-50%, -50%);
}


/* Small mobile (≤376px) */
@media (max-width: 376px) {
  .level-buttons {
    min-width: 90px;
    min-height: 90px;

    span {
      font-size: 15px;
    }
  }

  .level-stars {
    width: 30px;
    height: 30px;
  }

  #star-0, #star-4 {
    bottom: 30px;
  }

  .btn-lock-img {
    width: 35px !important;
    height: 35px;
  }

  .special-levels-img {
    width: 100% !important;
    height: 100%;
  }
}

/* Small mobile (≤360px) */
@media (max-width: 360px) {
  .level-buttons {
    min-width: 90px;
    min-height: 90px;

    span {
      font-size: 15px;
    }
  }

  .level-stars {
    width: 30px;
    height: 30px;
  }

  #star-0, #star-4 {
    bottom: 30px;
  }

  .btn-lock-img {
    width: 35px !important;
    height: 35px;
  }

  .special-levels-img {
    width: 100% !important;
    height: 100%;
  }

}

/* Medium mobile (377-480px) */
@media (min-width: 377px) and (max-width: 480px) {
  .level-buttons {
    min-width: 105px;
    min-height: 105px;

    span {
      font-size: 15px;
    }
  }

  .level-stars {
    width: 30px;
    height: 30px;
  }

  #star-0, #star-4 {
    bottom: 40px;
  }

  .btn-lock-img {
    width: 45px !important;
    height: 45px;
  }

  .special-levels-img {
    width: 100% !important;
    height: 100%;
  }
}

/* Tablets (481 above) */
@media (min-width: 481px) {

  .level-buttons {
    min-width: 180px;
    min-height: 180px;

    span {
      font-size: 25px;
    }
  }

  .level-stars {
    width: 60px;
    height: 60px;
  }

  #star-0, #star-4 {
    bottom: 55px;
  }

  .btn-lock-img {
    width: 80px !important;
    height: 80px;
  }

  .special-levels-img {
    width: 90% !important;
  height: 90%;
  }
}

/* Specific tablets */
@media (width: 540px) and (height: 720px) {
  .level-buttons {
    min-width: 120px;
    min-height: 120px;

    span {
      font-size: 20px;
    }
  }

  .level-stars {
    width: 40px;
    height: 40px;
  }

  #star-0, #star-4 {
    bottom: 45px;
  }

  .btn-lock-img {
    width: 55px !important;
    height: 55px;
  }

  .special-levels-img {
    width: 100% !important;
    height: 100%;
  }
}

/* Large tablet (>820px) */
@media (min-width: 821px) {
  .level-buttons {
    min-width: 200px;
    min-height: 200px;

    span {
      font-size: 30px;
    }
  }

  .level-stars {
    width: 70px;
    height: 70px;
  }

  #star-0, #star-4 {
    bottom: 65px;
  }

  .btn-lock-img {
    width: 90px !important;
    height: 90px;
  }

  .special-levels-img {
    width: 100% !important;
    height: 100%;
  }
}

/* Large tablet (>820px) with height 1000px below */
@media (min-width: 821px) and (max-height: 999px) {
  .level-buttons {
    min-width: 150px;
    min-height: 150px;

    span {
      font-size: 20px;
    }
  }

  .level-stars {
    width: 45px;
    height: 45px;
  }

  #star-0, #star-4 {
    bottom: 55px;
  }

  .btn-lock-img {
    width: 70px !important;
    height: 70px;
  }

  .special-levels-img {
    width: 100% !important;
    height: 100%;
  }
}
