#level-selection-container {
  position: absolute;
  z-index: 5; //Above canvas element.
  width: 100%;
  height: 100%;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;

  #level-selection-grid {
    border: 1px solid red;
    position: relative;
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(4, 1fr);
  }
}

.level-buttons {
  place-self: center;
  position: relative;
  min-width: 180px;
  min-height: 180px;
  border-radius: 100px;
  overflow: visible; /* ensure pulse isn't clipped */

  span {
    position: absolute;
    color: #fff;
    font-size: 25px;
  }
}

.level-selection-btn-img {
  width: 70% !important;
  height: 100%;
  position: absolute;
  top: 53%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.level-stars {
  position: absolute;
  width: 60px;
  height: 60px;
}

#star-0 {
  left: -10px;
  bottom: 55px;
}

#star-1 {
  top: 0px;
  left: 0px;
}

#star-2 {
  top: 0%;
  left: 50%;
  transform: translate(-50%, -50%);
}

#star-3 {
  top: 0px;
  right: 0px;
}

#star-4 {
  right: -10px;
  bottom: 55px;
}

.btn-lock-img {
  width: 80px !important;
  height: 80px;
  position: absolute;
  top: 10%;
  left: 10%;
}

.btn-level-span{
  position: absolute;
  top: 35%;
  left: 48%;
  transform: translate(-50%, -50%);
}

//For debugger text label
.level-type-text {
  width: 70%;
  bottom: 0px;
  right: 0px;
  transform: translate(-25%, 75%);
}

.pulsing {
  /* Multiple ripples */
  &::before,
  &::after {
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    width: 170%;
    height: 170%;
    border-radius: 50%;
    transform: translate(-50%, -50%) scale(0);
    background: rgba(255, 255, 255, 0.8);
    z-index: -1;
    animation: ripple 2s infinite;
  }

 @keyframes ripple {
    0% {
      transform: translate(-50%, -50%) scale(0);
      opacity: 0.8;
    }
    100% {
      transform: translate(-50%, -50%) scale(0.7);
      opacity: 0;
    }
  }
}
.press-button:active {
  transform: scale(0.95);
}

.special-levels-img {
  width: 90% !important;
  height: 90%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.special-btn-level-span {
  top: 75%;
  left: 48%;
  transform: translate(-50%, -50%);
}
