#timer-ticking {
  position: relative;
  top: 18%;
  width: 100%;
  display: flex;


  #timer-empty {
    position: absolute;
    bottom: 0px;
    width: 100%;
    height: 40px;
  }

  #rotating-clock {
    animation: rotateClock 2s linear infinite;
    position: absolute;
    width: 55px;
    bottom: -5px;
    left: 30px;
  }

  #timer-full-container {
    position: absolute;
    bottom: 0;
    left: 14%;
    width: 100%;
    overflow: hidden;
    height: 40px;

    #timer-full {
      position: absolute;
      width: 86%;
      height: 100%;
      transition: width 0.5s ease;
    }
  }
  
}

/* Clock rotation animation */
@keyframes rotateClock {
  from { transform: translateX(-50%) rotate(0deg); }
  to { transform: translateX(-50%) rotate(360deg); }
}