.buttons-container {
  position: absolute;
  width: 100%;
  bottom: 65px;
  display: flex;
  gap: 40px;
  justify-content: center;
}

#levelend-background {
  background: #0000009c;
  height: 100%;
  z-index: 12;
  position: relative;
  transition: opacity 0.3s ease;
  opacity: 1;

  &.fade-out {
    opacity: 0;
    z-index: 0;
    background: transparent;
  }
}