.game-scene {
  #play-button {
      position: absolute;
      top: 23vh;
      left: 50%;
      transform: translate(-50%, -50%);
  }
}

//xsm
@media (max-width: 576px) {
  #play-button {
    max-width: 115px;
    max-height: 115px;
  }
}

//md
@media (min-width: 768px) {
  #play-button {
    max-width: 200px;
    max-height: 200px;
  }
}
