.game-control {
  .level-content-bg {
    background-color: #FAF9DB;
    position: absolute;
    z-index: 5;
    width: 12.75rem;
    height: 3.5rem;
    top: 0.6rem;
    left: 12%;
    padding: 5px;
    border-radius: 15px;
  }

  .level_content-wrapper {
    max-width: 12rem;
    width: 100%;
    height: 2.9rem;
    border: #DE8C26 solid 5px;
    border-radius: 15px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;

    .bar-level-wrapper {
      position: absolute;
      width: 100%;
      left: 50%;
      transform: translate(-50%, 5%);
      display: flex;
      align-items: center;
      justify-content: center;

      .bar-level {
        position: relative;
        width: 100%;
        max-width: 30px;
        margin: 0px 2.2px;
      }
    }
  }

  // Tablets (481 above)
  @media (min-width: 481px) {
    .level-content-bg {
      width: 15.75rem;
      height: 4.5rem;
      top: 0.7rem;
    }

    .level_content-wrapper {
      max-width: 15rem;
      width: 100%;
      height: 3.9rem;
      border: #DE8C26 solid 5px;
      border-radius: 15px;
      background-size: cover;
      background-position: center;
      background-repeat: no-repeat;
    }

    .level_content-wrapper {
      .bar-level-wrapper {
        .bar-level {
          max-width: 2.5rem;
        }
      }
    }
  }

  /* For ultrawide monitors or desktop screens that are not very tall  */
  @media screen and (min-width: 1080px) and (max-height: 650px) {
    .level-content-bg {
      width: 10.75rem;
      height: 3rem;
      top: 0.4rem;
    }

    .level_content-wrapper {
      max-width: 15rem;
      width: 100%;
      height: 2.4rem;
      border: #DE8C26 solid 5px;
      border-radius: 15px;
      background-size: cover;
      background-position: center;
      background-repeat: no-repeat;
    }

    .level_content-wrapper {
      .bar-level-wrapper {
        .bar-level {
          max-width: 1.5rem;
        }
      }
    }
  }
}