#timer-ticking {
  position: relative;
  top: 40px;
  width: 100%; /* Adjust based on timer width */
  height: 100px; /* Adjust based on timer height */

  #timer-empty {
    position: absolute;
    bottom: 0px;
    width: 100%;
    height: auto;
  }

  #rotating-clock {
    position: absolute;
    top: 45%;
    height: 60px;
    left: 30px;
    animation: rotateClock 2s linear infinite;
  }

  #timer-full-container {
    position: absolute;
    bottom: 0px;
    left: 14%;
    width: 100%;
    overflow: hidden;
    height: 45px;

    #timer-full {
      position: absolute;
      width: 86%;
      height: 100%;
      transition: width 0.5s ease;
    }
  }
  
}

/* Clock rotation animation */
@keyframes rotateClock {
  from { transform: translateX(-50%) rotate(0deg); }
  to { transform: translateX(-50%) rotate(360deg); }
}